{% extends 'base.html' %}

{% block head %}
    <title>Get The Weather</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Explore the weather around the world</h1>
    </header>

    <form action="/" method="post">
        <input class="form-control" type="text" autocomplete="off" required placeholder="Search a city" name="city">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="bi bi-plus"></i>
            Add City
        </button>
    </form>

    <main>
        {% for city in cities %}
            <div class="city">
                <div class="image">
                    <img src="http://openweathermap.org/img/wn/{{ city['icon'] }}@2x.png" alt="Weather State">
                </div>
                <div class="info">
                    <h2 title="{{ city['name'] }}">{{ city['name'] }}</h2>
                    <p>{{ city['c'] }} °C | {{ city['f'] }} °F</p>
                    <p>{{ city['description'] }}</p>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}